<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.xh.bean.Emp">
    <!--@mbg.generated-->
    <!--@Table emp-->
    <id column="ENO" jdbcType="INTEGER" property="eno" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="MGR" jdbcType="INTEGER" property="mgr" />
    <result column="HIREDATE" jdbcType="DATE" property="hiredate" />
    <result column="SAL" jdbcType="INTEGER" property="sal" />
    <result column="COMM" jdbcType="INTEGER" property="comm" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ENO, ENAME, JOB, MGR, HIREDATE, SAL, COMM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from emp
    where ENO = #{eno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from emp
    where ENO = #{eno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xh.bean.Emp">
    <!--@mbg.generated-->
    insert into emp (ENO, ENAME, JOB, 
      MGR, HIREDATE, SAL, COMM
      )
    values (#{eno,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{mgr,jdbcType=INTEGER}, #{hiredate,jdbcType=DATE}, #{sal,jdbcType=INTEGER}, #{comm,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.bean.Emp">
    <!--@mbg.generated-->
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eno != null">
        ENO,
      </if>
      <if test="ename != null">
        ENAME,
      </if>
      <if test="job != null">
        JOB,
      </if>
      <if test="mgr != null">
        MGR,
      </if>
      <if test="hiredate != null">
        HIREDATE,
      </if>
      <if test="sal != null">
        SAL,
      </if>
      <if test="comm != null">
        COMM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eno != null">
        #{eno,jdbcType=INTEGER},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="mgr != null">
        #{mgr,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=DATE},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=INTEGER},
      </if>
      <if test="comm != null">
        #{comm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.bean.Emp">
    <!--@mbg.generated-->
    update emp
    <set>
      <if test="ename != null">
        ENAME = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="mgr != null">
        MGR = #{mgr,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        HIREDATE = #{hiredate,jdbcType=DATE},
      </if>
      <if test="sal != null">
        SAL = #{sal,jdbcType=INTEGER},
      </if>
      <if test="comm != null">
        COMM = #{comm,jdbcType=INTEGER},
      </if>
    </set>
    where ENO = #{eno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.bean.Emp">
    <!--@mbg.generated-->
    update emp
    set ENAME = #{ename,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      MGR = #{mgr,jdbcType=INTEGER},
      HIREDATE = #{hiredate,jdbcType=DATE},
      SAL = #{sal,jdbcType=INTEGER},
      COMM = #{comm,jdbcType=INTEGER}
    where ENO = #{eno,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-12-05-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from emp
        <where>
            <if test="eno != null">
                and ENO=#{eno,jdbcType=INTEGER}
            </if>
            <if test="ename != null">
                and ENAME=#{ename,jdbcType=VARCHAR}
            </if>
            <if test="job != null">
                and JOB=#{job,jdbcType=VARCHAR}
            </if>
            <if test="mgr != null">
                and MGR=#{mgr,jdbcType=INTEGER}
            </if>
            <if test="hiredate != null">
                and HIREDATE=#{hiredate,jdbcType=DATE}
            </if>
            <if test="sal != null">
                and SAL=#{sal,jdbcType=INTEGER}
            </if>
            <if test="comm != null">
                and COMM=#{comm,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>